@import '~bootstrap/scss/bootstrap';

body {
  margin: 30px;
}

.unauth-col {
  margin: 10px;
}

#authenticated {
  display: none;
}

h1 {
  text-align: center;
  margin: 40px;
}

footer {
  text-align: center;
  margin: 100px
}
