@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-color: #E49A27;
  margin: 30px;
}

.btn {
  background-color: white;
  color: black;
  margin: 5px;
}

.unauth-col {
  margin: 10px;
}

.test {
  border: solid black;
}

#authenticated {
  display: none;
}

#sign-up {
  width: 500px;
}

#sign-in {
  width: 500px;
}

.signout-btn {
  border: solid black;
}

#create-recipe {
  margin: 60px 0px 30px 0px;
}

#update-recipe {
  margin: 60px 0px 30px 0px;
}

// .recipe-input {
//   border: solid black;
// }

.input-step {
  color: #F6E7C8;
  font-family: 'Lemonada', cursive;
  margin: 10px 0px 0px;
}

.message {
  text-align: center;
  font-size: 30px;
  color: #01C300;
  font-family: 'Lobster', cursive;
}

h1 {
  color: white;
  font-family: 'Lemonada', cursive;
  font-size: 60px;
  text-align: center;
  margin: 40px;
}

.recipe {
  font-family: 'Lemonada', cursive;
  text-align: center;
  margin: 10px;
}

.recipe-content {
  color:#76726A;
}

label {
  color: white;
  font-family: 'Lemonada', cursive;
  font-size: 30px;
}

footer {
  text-align: center;
  margin: 100px;
  font-size: 10px;
}
